/*
Colors:
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

body{
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Seccion 1 */
header{
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
	background-repeat: no-repeat; /* para que la imagen de fondo no se repita */
	background-size: cover; /* colocamos la imagen en el tamañoñ total del navegador */
	background-attachment: fixed; /* para fijar la imagen al hacer scroll */
	overflow: hidden;
	width: 100%;
}

.menuPink{
	background-color: #E54E79;
	width: 1278px;
	height: 60px;
}

.logito{
	position: relative;
  left: 280px;;
	top: 10px;
}

.enlaceNav a{
	margin: 0; /* cero margen */
	padding: 0; /* relleno : 0 */
	display: inline-block;
  color: #EDE9E2; /* color al texto */
	text-align: center;
	padding: 26px;
	text-decoration: none; /* le quitamos el sibrayado por defecto que tienen los enlaces */
	color: white;
	position: relative;
	left: 830px;
	bottom: 50px;
	height: 10px;

}

.enlaceNav a:hover{
	background-color: #E56385;
}

/* Seccion 2 */

.base{
	clear: both;
	width: 445px; /* ancho */
	height: 400px; /* alto */
	background: #EDE9E2;
  position: relative;
  left: 832px;
	bottom: -80px;
}

.text2{
	position: relative;
  left: 869px;
	bottom: 300px;
	color: #00B2A9;
	width: 350px;
	text-transform: uppercase;
	font-size: 28px;
}

.text3{
	clear: both;
	position: relative;
  left: 869px;
	bottom: 291px;
	color: #75726C;
	width: 183px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

/* input */

#input{
	clear: both;
	position: relative;
  left: 869px;
	bottom: 291px;
	width: 402px;
	height: 35px;
	border: none; /* sacar el borde tipico del input */
	background-color: #EDE9E2;
	border-bottom: 1px solid #75726C; /* linea bajo input */
}

#input:focus{
	outline: 0px;  /* sacarle el contorno al escribir en un input */
}

/* boton */

.boton{
	clear: both;
  	color: #EDE9E2; /* color al texto */
	padding: 13px 1px 13px 11px;
	text-decoration: none; /* le quitamos el sibrayado por defecto que tienen los enlaces */
	position: relative;
	left: 869px;
	bottom: 264px;
	font-size: 15px;
	text-transform: uppercase;
	background: #E54E79;
	border-radius: 60px;
}

#corazon{
  	color: #EDE9E2;
	text-align: center;
	font-size: 18px;
	margin: 15px;
}

.boton:hover{
	background-color: #E56385;
}

/* Texto en base */

.text4{
	clear: both;
	position: relative;
  left: 869px;
	bottom: 243px;
	color: #75726C;
	width: 373px;
	font-size: 14px;
	font-weight: normal;
}

/* seccion 3 - juego */

.fondo{
	background-color: #00B2A9;
	clear: both;
	position: relative;
	bottom: 18px;
	height: 596px;
}

.franja{
	background-color: #EDE9E2;
	clear: both;
	position: relative;
  left: 0;
	bottom: 500px;
	width: 1278px;
	height: 97px;
}

#text5{
	clear: both;
	position: relative;
  left: 454px;
	bottom: 622px;
	color: #75726C;
	width: 367px;
	text-transform: uppercase;
	font-size: 46px;
	font-weight: bold;
}

.caja2{
	clear: both;
	width: 930px; /* ancho */
	height: 284px; /* alto */
	background: #EDE9E2;
  position: relative;
  left: 173px;
	bottom: 582px;
}

/* Iconos - Seccion 3*/
#auto1, #auto2{
	clear: both;
  font-size: 30px;
	background: #EDE9E2;
  position: relative;
	color: #75726C;
}

#auto1{
	left: 206px;
	bottom: 773px;
}

#auto2{
	left: 661px;
	bottom: 804px;
}

/* input - Seccion 3 */

#input2, #input3{
	width: 342px;
	height: 35px;
	border: none; /* sacar el borde tipico del input */
	background-color: #EDE9E2;
	border-bottom: 1px solid #75726C; /* linea bajo input */
	font-weight: bold;
}

#input2{
	clear: both;
	position: relative;
  left: 255px;
	bottom: 843px;
}

#input3{
	clear: both;
	position: relative;
  left: 363px;
	bottom: 843px;
}

#input2::-webkit-input-placeholder, #input3::-webkit-input-placeholder { /* cambiar el color del placeholder */
    /* Google Chrome y Safari */
    color: #D4D0C9;
}

#input2:focus, #input3:focus{
	outline: 0px;  /* sacarle el contorno al escribir en un input */
}

/* boton - seccion 3 */

.boton2{
	clear: both;
  color: #EDE9E2; /* color al texto */
	padding: 28px 405px 25px 405px;
	text-decoration: none; /* le quitamos el sibrayado por defecto que tienen los enlaces */
	position: relative;
	left: 203px;
	bottom: 783px;
	font-size: 15px;
	text-transform: uppercase;
	background: #00B2A9;
	border-radius: 60px;
}

/* seccion 4 */

.fondo2{
	background-color: #75726C;
	clear: both;
	position: relative;
	bottom: 608px;
	height: 545px;
}

.franja2{
	background-color: #5E5953;
	clear: both;
	position: relative;
  left: 0;
	bottom: 609px;
	width: 1278px;
	height: 65px;
}

h2 #text6{
	position: relative;
	bottom: 0px;
}

#text6{
	position: relative;
  left: 0;
	bottom: 1143px;
	padding: 0 0 0 102px;
	color: #EDE9E2;
	width: 350px;
	font-size: 20px;
	font-weight: lighter;
}

.text7{
	clear: both;
	position: relative;
  left: -3px;
	bottom: 1137px;
	color: #EDE9E2;
	width: 350px;
	font-size: 15px;
	font-weight: 100;
	padding: 0 0 0 102px;
}

.text8{
	clear: both;
	position: relative;
  left: 0;
	bottom: 37px;
	color: #EDE9E2;
	width: 120px;
	padding: 0 0 0 887px;
}

.text8 p{
	font-size: 15px;
	font-weight: lighter;
	width: 74px;
}

/* Iconos de Sorpresas */

#hH2{
	color: #EDE9E2;
	font-size: 20px;
	font-weight: lighter;
	height: 0;
	width: 100%;
	clear: both;
	position: relative;
	bottom: 102px;
	left: 0;
	padding: 0 0 0 885px;
}

#bola1{
	clear: both;
	position: relative;
	left: 889px;
	bottom: -224px;
	color: #E54E79;
	font-size: 40px;
}

#bola2{
	clear: both;
	position: relative;
	left: 849px;
	bottom: -167px;
	color: #E56385;
	font-size: 40px;
}

#bola3{
	clear: both;
	position: relative;
	left: 809px;
	bottom: -109px;
	color: #00B2A9;
	font-size: 40px;
}

#bola4{
	clear: both;
	position: relative;
	left: 769px;
	bottom: -54px;
	color: #EDE9E2;
	font-size: 40px;
}

.textUltimos{
	color: #EDE9E2;
	width: 67px;
	height: 24px;
	font-size: 13px;
	position: relative;
	bottom: 751px;
}

.textUltimos p{
	clear: both;
	position: relative;
	left: 100px;
	bottom: -1px;
	width: 184px;
}

.textUltimos a{
	clear: both;
	position: relative;
	left: 1049px;
	bottom: 28px;
	width: 100px;
}

/* Arreglos */

.seccion3{
	height: 1185px;
	width: 100%;
	clear: both;
	position: relative;
	bottom: 0;
}

#footer{
	height: 1px;
	width: 100%;
	clear: both;
	position: relative;
	bottom: 0;
}

.seccion4{
	height: 0;
	width: 100%;
	clear: both;
	position: relative;
	bottom: 0;
}

#s{
	position: relative;
	bottom: -20px;
}

.iconosSec4{
	height: 0;
	width: 100%;
	clear: both;
	position: relative;
	bottom: 1150px;
	background: red;
}


/* Tablero */
#tabF{
  border: 5px solid #900C3F;
}

.casilla{
  box-sizing: border-box;
  /*Es mejor con float:left*/
  display:inline-block;
  background-color: #581845;
  color: whitesmoke;
  padding: 10px;
  font-family: sans-serif;
  width: 10%;
  text-align: center;
  border: 5px #900C3F solid;
}