/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

body{
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}

/* Seccion 1 */
header{
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg); 
	background-repeat: no-repeat; /* para que la imagen de fondo no se repita */
	background-size: 100%; /* colocamos la imagen en el tamañoñ total del navegador */
	background-attachment: fixed; /* para fijar la imagen al hacer scroll */
}

.menuPink{
	background-color: #E54E79;
	width: 1318px;
	height: 60px;
}

.logito{
	position: relative;
  	left: 280px;;
	top: 10px;
}

.enlaceNav a{
	margin: 0; /* cero margen */
	padding: 0; /* relleno : 0 */
	display: inline-block;
  	color: #EDE9E2; /* color al texto */
	text-align: center;
	padding: 26px;
	text-decoration: none; /* le quitamos el sibrayado por defecto que tienen los enlaces */
	color: white;
	position: relative;
	left: 830px;
	bottom: 50px;
	height: 10px;
}

.enlaceNav a:hover{
	background-color: #E56385;
}

/* Seccion 2 */

.base{
	clear: both;
	width: 487px; /* ancho */
	height: 400px; /* alto */
	background: #EDE9E2;
  	position: relative;
  	left: 832px;
	bottom: -80px;
}

.text2{
	position: relative;
  	left: 869px;
	bottom: 300px;
	color: #00B2A9;
	width: 350px;
	text-transform: uppercase;
	font-size: 28px;
}

.text3{
	clear: both;
	position: relative;
  	left: 869px;
	bottom: 291px;
	color: #75726C;
	width: 183px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

#input{
	clear: both;
	position: relative;
  	left: 869px;
	bottom: 291px;
	width: 402px;
	height: 35px;
	border:none;
	background-color: #EDE9E2;
	border-bottom: 1px solid #75726C; /* linea bajo input */
}

/*

#corazon{
  position: relative;
  left: 565px;
  bottom: 420px;
  width: 100px;
  height: 250px;
  float: left;
}

*/