/*
Colors:
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

body{
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}

/* Seccion 1 */
header{
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
	background-repeat: no-repeat; /* para que la imagen de fondo no se repita */
	background-size: 100%; /* colocamos la imagen en el tamañoñ total del navegador */
	background-attachment: fixed; /* para fijar la imagen al hacer scroll */
}

.menuPink{
	background-color: #E54E79;
	width: 1278px;
	height: 60px;
}

.logito{
	position: relative;
  left: 280px;;
	top: 10px;
}

.enlaceNav a{
	margin: 0; /* cero margen */
	padding: 0; /* relleno : 0 */
	display: inline-block;
  color: #EDE9E2; /* color al texto */
	text-align: center;
	padding: 26px;
	text-decoration: none; /* le quitamos el sibrayado por defecto que tienen los enlaces */
	color: white;
	position: relative;
	left: 830px;
	bottom: 50px;
	height: 10px;
}

.enlaceNav a:hover{
	background-color: #E56385;
}

/* Seccion 2 */

.base{
	clear: both;
	width: 445px; /* ancho */
	height: 400px; /* alto */
	background: #EDE9E2;
  position: relative;
  left: 832px;
	bottom: -80px;
}

.text2{
	position: relative;
  left: 869px;
	bottom: 300px;
	color: #00B2A9;
	width: 350px;
	text-transform: uppercase;
	font-size: 28px;
}

.text3{
	clear: both;
	position: relative;
  left: 869px;
	bottom: 291px;
	color: #75726C;
	width: 183px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

/* input */

#input{
	clear: both;
	position: relative;
  left: 869px;
	bottom: 291px;
	width: 402px;
	height: 35px;
	border: none; /* sacar el borde tipico del input */
	background-color: #EDE9E2;
	border-bottom: 1px solid #75726C; /* linea bajo input */
}

#input:focus{
	outline: 0px;  /* sacarle el contorno al escribir en un input */

}

/* boton */

.boton{
	clear: both;
  color: #EDE9E2; /* color al texto */
	padding: 13px 1px 13px 11px;
	text-decoration: none; /* le quitamos el sibrayado por defecto que tienen los enlaces */
	position: relative;
	left: 869px;
	bottom: 264px;
	font-size: 15px;
	text-transform: uppercase;
	background: #E54E79;
	border-radius: 60px;
}

#corazon{
  color: #EDE9E2;
	text-align: center;
	font-size: 18px;
	margin: 15px;
}

.boton:hover{
	background-color: #E56385;
}

/* Texto en base */

.text4{
	clear: both;
	position: relative;
  left: 869px;
	bottom: 243px;
	color: #75726C;
	width: 373px;
	font-size: 14px;
	font-weight: normal;
}
